@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

/* Hide scrollbar for Firefox */
.scroll-hidden {
    scrollbar-width: none; /* Hide scrollbar */
}

/* Hide scrollbar for Internet Explorer and Edge */
.scroll-hidden {
    -ms-overflow-style: none; /* Hide scrollbar */
}
